@import "./header.css";
@import "./menu.css";
@import "./hero.css";
@import "./social.css";
@import "./button-icon.css";
@import "./button.css";
@import "./project.css";
@import "./card.css";
@import "./certificated.css";
@import "./shared.css";
@import "./copyright.css";
@import "./footer.css";
@import "./wrapper2.css";

:root {
    --fontBase: Poppins, sans-serif;
    --fontSecondary: Oxygen, sans-serif;
    --headLine1: bold 95px/154px var(--fontBase);
    --headLine2: bold 59px/95px var(--fontBase);
    --headLine3: bold 48px/78px var(--fontBase);
    --headLine4: bold 34px/55px var(--fontBase);
    --headLine5: bold 24px/39px var(--fontBase);
    --commet: 34px/55px var(--fontSecondary);
    --comment2: 24px/39px var(--fontBase);
    --body1:16px/26px var(--fontBase);
    --button: bold 14px/23px var(--fontBase);
    --primarycolor: #0F0A0A;
    --fondoColor: #DAEAF1;
    --tittleColor: #FF7171;
    --deleteMargin: 0;
}


body {
    background-color: var(--fondoColor);
    font: var(--body1);
    }

