.coment-top{
    font: var(--headLine4);
    text-align: center;
    margin-top: 50px;
    color: rgb(106, 76, 133);
}
.project {
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.project-images img {
    max-inline-size: 100%;
    margin: 2px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.tittle{
    font: var(--comment2);
    color: var(--tittleColor);
}

.project-description p {
    font: Poppins, sans-serif;
    color: black;
}

@media screen and (min-width: 768px) {
    .project {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-block-start: 20px;
        padding-block-end: 80px;
    }

    .project-description{
        flex: 1;
        color: black;
        order: 1;
    }
    .coment-top{
        font: var(--headLine4);
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
    }

    
}